@model Product

@{
    Layout = "_Layout";
}

<div class="col-lg-8">
                <img src="~/assets/img/portfolio/@Model.Image" alt="">
</div>
<div class="col-lg-4">
    <div class="portfolio-info">
        <h3>Project information</h3>
        <ul>
            <li><strong>Category</strong>:@Model.Category.Name</li>
            <li><strong>Client</strong>: ASU Company</li>
            <li><strong>Project date</strong>:@Model.CreaatedDate</li>
            <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
        </ul>
    </div>
    <div class="portfolio-description">
        <h2>This is an example of portfolio detail</h2>
        <p>
            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
        </p>
    </div>
</div>